#container {
    display: flex;
     user-select: none;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
  }
  
  .column {
    flex: 1;
    
    padding: 20px;
    min-height: 300px;
    background-color: #000f1e;
    width: 100px;
    
      border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
     padding-left: 30px;
  
     position: relative;
  }
  
  .column2 {
    flex: 1;
    
    padding: 20px;
    min-height: 300px;
    background-color: #CB5E03;
    width: 100px;
    
     border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
     padding-left: 30px;
  
     position: relative;
  }
  
  .item {
    padding: 10px;  
    margin-bottom: 10px;
    
    cursor: hand;
    background-color: #000f1e;
    border-radius: 4px;
    color: #d7e7f7;
    
      
  }
  
  .item:hover {
    background-color: #6e8296;
  }
  .item, h2 {
    font-size: 18px;
    color: #d7e7f7;  
  }
  
  .item.disabled {
      color: gray;
      pointer-events: none;
  }
  
  #createModelBtn { 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    width: 56px; 
    height: 56px; 
    border-radius: 50%; 
  
    color: #00012b;
  }
  
  #container h2 {
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: -8px;
    margin-top: -18px;
    padding: 5px 0;
    color: #f0be34;  
  }
  
  #container h3 {
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: -8px;
    margin-top: -18px;
    padding: 5px 0;
    color: #ffffff;  
  }
  
  #container h5 {
    text-align: left;
    font-size: 17px;  
    margin-bottom: 0px;
    margin-left: -8px;
    margin-top: -18px;
    padding: 5px 0;
      color: #f0be34; 
  }
  
  button.fa-copy {
      font-size: 1.5em;
      color: #000000;
      background: transparent;
      border: none;
  }
  
  .column-label {
     position: absolute;
    left: -60px;
    top: 30%;
    transform: rotate(-90deg);
    transform-origin: top center;
    font-size: 32px;
    color: #d7e7f7;
   
  }
  
  #heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  #heading-container img {
  margin-right: 10px;
  }
  
  .percentageCost {
      position: absolute;
      bottom: 0;
      left: 50%; /* to center the element horizontally */
      transform: translateX(-50%); /* to center the element horizontally */
      font-size: 50px;
    color: #d7e7f7;
    bottom: -40;
  }
  
  .freeReplacement {
      position: absolute;
      bottom: 0;
      left: 50%; /* to center the element horizontally */
      transform: translateX(-50%); /* to center the element horizontally */
      font-size: 15px;
    color: #d7e7f7;
    bottom: -25;
  }
  
  #column5 input {
    background-color: #CB5E03;
    color: white;
    position: absolute;
    top: 10;
    right: 10;
    width: 105px; /* adjust as needed */
    font-size: 35;
    border: none; /* remove border */
    text-align: right;
  }
  