/* Basic Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

body { 
  font-family: 'Arial', sans-serif; 
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
html {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}


header {
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space out logo, nav, and icons */
    background-color: rgba(3, 3, 3, 0.253); /* Semi-transparent white background */
    padding: 10px 0; /* Adjust the padding to increase the height of the header */
    height: 80px;
    position: fixed; /* Make header fixed at the top */
    width: 100%; /* Ensure the header spans the full width */
    top: 0;
    left: 0;
    z-index: 100000000000000000000000000; /* Higher z-index to keep the header above other content */
}

.logo-container {
    flex: 0 0 auto; /* Do not grow or shrink, just be the size of the logo */
}

/* Main dropdown menu styling */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

/* Style for the dropdown list */
.dropdown-menu ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Style for the dropdown list items */
.dropdown-menu li {
  padding: 4px 5px;
}

/* Style for links in the dropdown */
.dropdown-menu a {
  display: block;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
  text-align: left; /* Ensures text for each link is left-aligned */
  padding: 8px 12px; /* Add padding to ensure clickable area is large enough */
}

/* Hover effect for dropdown links */
.dropdown-menu a:hover {
  background-color: #f8f8f8;
  font-weight: bold; /* Make text bold on hover */
}

/* Chevron that appears when hovering over dropdown links */
.dropdown-menu a:hover::after {
  content: " >"; /* Adds a chevron */
  font-weight: bold;
  margin-left: 5px;
}


/* Main navigation styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Style for the navigation menu container */
nav .menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* Style for the navigation list */
nav .menu-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

/* Style for the navigation list items */
nav li {
  padding: 0 15px;
}

/* Style for the main navigation links */
nav a {
  text-decoration: none;
  color: rgb(230, 230, 230);
  font-size: 18px;
  padding: 32px 25px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: color 0.3s, transform 0.3s;
  transform-origin: center;
  border-radius: 4px;
}

/* Scale effect for the main navigation links */
nav > .menu-container > ul > li > a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #001847;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
  z-index: -1;
}

/* Hover effect for the main navigation links */
nav > .menu-container > ul > li > a:hover::before {
  transform: scaleX(1);
}

/* Change text color to white on hover for the main navigation links */
nav > .menu-container > ul > li > a:hover {
  color: white;
}

/* Icons in the navigation */
.nav-icons {
  display: flex;
  align-items: center;
}

.nav-icons a {
  padding: 0 15px;
}

.nav-icons a img {
  height: 24px;
  width: 24px;
  cursor: pointer;
}






.video-wrapper {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blue-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0e367c75; /* Blue color filter */
    z-index: 1;
}

.central-message {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
}



.floating-buttons {
    margin-left: 15px;
    position: fixed; /* Fixed position to the viewport */
    left: 0; /* Align to the left side of the viewport */
    top: 75%; /* Center vertically to the screen */
    transform: translateY(-50%); /* Adjust the vertical centering */
    z-index: 100; /* Ensure it's above other content */
  }
  
  .floating-button {
    display: block; /* Stack the links */
    margin-bottom: 20px; /* Increase space between buttons */
  }
  
  .floating-button img {
    display: block; /* Remove any default image inline spacing */
    width: 40px; /* 80% of the original size */
    height: 40px; /* 80% of the original size */
  }
  
  /* Other styles... */
  




.tab-search-container {
    max-width: 600px; /* Match the search box width */
    margin: auto; /* Center the container */
  }
  
  .tab-container {
    display: flex;
    justify-content: center; /* Center the tabs if there's extra space on the sides */
    margin-bottom: -20.5px; /* Ensure no gap between tabs and search box */
    margin-right: 80px;    
  }
  
  .tab {
    background-color: #00277a;
    border: 0px solid #ccc;
  border-bottom: none; /* Remove the bottom border to blend with the search box */
  padding: 20px 20px;
  margin: 0 0px; /* Adjust spacing between the tabs if necessary */
  cursor: pointer;
  transition: background-color 0.3s;
  
  font-size: 18px; /* Increase font size */
  font-weight: bold; /* Make font bold */
  
  /* If you also want to adjust the vertical alignment when font size is changed: */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px; /* You can set a fixed height to ensure all tabs are the same size */
    color: #5e5e5e;
  }
  
  /* Apply the same border-radius to the first and last tabs to match the search box */
  .tab:first-child {
    border-top-left-radius: 12px;
  }
  
  .tab:last-child {
    border-top-right-radius: 12px;
  }


.search-box {
    margin-top: 20px; /* Space above the search box */
    padding: 10px; /* Reduced padding inside the search box */
    background-color: rgb(255, 255, 255); /* White background */
    border-radius: 0px; /* Rounded corners */
    display: flex; /* Use flexbox for inner items */
    align-items: center; /* Center the items vertically */
    justify-content: space-between; /* Align items from end to end */
    max-width: 1000px; /* Maximum width of the search box */
    margin: 20px auto; /* Center the search box */
}

.search-box input[type="text"] {
    margin-right: 5px; /* Spacing between the inputs and the button */
    padding: 10px; /* Padding inside the inputs */
    border: 2px solid #fff; /* Border for inputs */
    border-radius: 15px; /* Rounded corners for inputs */
    flex-grow: 1; /* Inputs will grow to fill available space */
}

.search-box button {
    padding: 10px 20px; /* Padding inside the button */
    background-color: #E85C0E; /* Button background color */
    color: white; /* Button text color */
    border: none; /* No border for button */
    border-radius: 8px; /* Rounded corners for button */
    cursor: pointer; /* Cursor for button */
    flex-grow: 2; /* Button will grow twice as much as inputs */
    white-space: nowrap; /* Prevents text in the button from wrapping */
}

footer {
    /* Add styles for footer here */
}

@media (max-width: 768px) {
    /* Responsive styles */
    nav .menu-container, nav .nav-icons {
        flex-direction: row;
        justify-content: flex-end;
    }

    nav ul {
        flex-direction: column;
        padding: 10px;
    }

    nav li, .nav-icons a {
        margin: 5px 0;
    }

    .central-message {
        font-size: 14px; /* Adjust the font size for smaller screens */
    }

    .search-box input[type="text"], .search-box button {
        font-size: 14px; /* Adjust the font size for smaller screens */
    }
}

.job-tiles-container {
  overflow-x: auto;
  padding-left: 0; /* Or adjust this value so that the first card is fully visible */
}

.job-tiles-wrapper {
  display: flex;
  position: absolute;
  margin-left: 0; /* Adjust this as needed to ensure it starts on-screen */
  left: 0;  
  transform: translateY(-50%); 
  z-index: 2; 
  width: 100vw; /* Set to the width of the viewport */
  overflow: hidden; /* Hide overflow to remove the scrollbar */
}


@keyframes slideTiles {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* End off-screen to the left */
  }
}

  .job-tile {
    position: relative;
    flex: 0 0 30%; /* This sets the basis to 30% and doesn't allow it to grow or shrink */
    width: 30%; 
    height: 170px;
    margin: 0 10px; 
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    border-radius: 8px; 
    text-align: left;
    transition: box-shadow 0.3s; 
    min-width: 150px;
    display: inline-block; /* Tiles as inline blocks for animation */
  
  }
  
  .job-tile:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
  }
  
  .job-tile h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem; 
    font-weight: bold; 
  }
  
  .job-tile p {
    font-size: 1rem;
    color: #666;
  }
  
  .map-section {
    background-color: rgb(0, 18, 53); 
    width: 100%;
    margin-bottom: -100px;
    
  }

 
  .circle-element {
    background-color: #96bdfb7c; /* Replace with the desired color for the circle */
    border-radius: 50%; /* Makes it a circle */
    width: 600px; /* Diameter of the circle */
    height: 600px; /* Diameter of the circle */
    position: absolute; /* Position relative to the nearest positioned ancestor */
    right: -300px; /* Half outside the right edge */
    z-index: 5; /* Adjust as needed */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Align center vertically */
  }

  .pill-shaped-element {
    background-color: white;
    border-radius: 50px;
    width: 80%;
    height: 100px;
    margin: 50px auto; /* Center the pill in the page, adjust top margin as needed */
    position: relative; /* This is important for positioning the circle element */
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 800;
}



.client-logo-container {
    display: flex;
    flex-wrap: nowrap;
    animation: scroll-logos 30s linear infinite;
    z-index: 600000000; /* Make sure it's above the pill-shaped element */
}

.logo-item {
  flex: 0 0 12.5%; /* Flex-grow | Flex-shrink | Flex-basis */
  display: flex; /* Use flex here to center the image vertically and horizontally */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 10px; /* Adjust padding to give some space around the logos */
}

.logo-item img {
  max-width: 100%; /* Ensure the logo fits within its container */
  max-height: 100px; /* Adjust the height accordingly */
  height: auto; /* Maintain aspect ratio */
  margin-top: -5px;
}

/* Keyframes for the scrolling animation */
@keyframes scroll-logos {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* Scrolls through all logos */
    }
}


  .featured-jobs-section {
    background-color: #F6F8FF; 
    width: 100%;
    margin-top: -100px;
  }



  .mission-statement {
    text-align: center; /* Centers the text */
    color: white;      /* Sets the text color to white */
}

  .locationpin {
    height: 23px;
    
  }
 
  
  .jobID {
    font-size: 12px;
    padding-bottom: 20px;
  }

  .locationText {
    font-size: 18px;
    margin-top: -5px;
  }

  .bookmark-wrapper {
    position: absolute;
    top: 0;      /* Align to the top of the job-tile */
    right: 0;    /* Align to the right of the job-tile */
    height: 20%; /* You can adjust this as needed */
  }

  .bookmark-icon {
    height: 70px; /* Adjust as needed */
    width: 80px;  /* Adjust as needed */
  }

  .arrow-icon {
    position: absolute;
    bottom: 10;    /* Align to the bottom of the job-tile */
    right: 0;     /* Align to the right of the job-tile */
    height: 30px; /* Set the height as needed */
    width: 50px;  /* Set the width as needed */
    padding-right: 20px;
  }

  .jobTitle {
    font-size: 25px;
    padding-bottom: 20px;
    color: #202020;
    font-weight: bold; 
    margin-bottom: -10px;
  }


/* Interactive Tab Styles */
.interactive-tab-container {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 1000; /* Make sure this is above all other content */
  width: 440px; /* Set a fixed width for the container */
  padding-right: 80px; 
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center-align children */
  justify-content: flex-end; /* Align children to the bottom */
  transition: height 0.3s ease; /* Animate height changes */
  
}

.interactive-tab {
  position: relative; /* Needed for absolute positioning of child elements */
  z-index: 1000; 
  background-color: #002366;
  color: white;
  padding-bottom: 24px; /* Increased padding for larger tab */
  border-radius: 10px 10px 0 0; /* Rounded corners on the top */
  box-shadow: 0 0 15px rgba(51, 71, 176, 0.5); /* Glow effect */
  font-weight: bold; /* Make the font bold */
  font-size: 21px;
  width: 100%; /* Ensure the tab fills the container */
  text-align: center; /* Center the text horizontally */
  padding-top: 28px; /* HEIGHT OF THE TAB */
  position: relative; /* Needed for absolute positioning of child elements */
  height: 200px;
  bottom: -130px;
  width: 100%; /* Ensure tab fills the width of the container */
}

.event-icon {  
  position: absolute;
  
  transition: all 0.3s ease;
  left: 30px; /* Adjust as needed to position the icon inside the tab */
  background-color: #96BDFB; /* Light blue background */
  border-radius: 50%; /* Makes the div circular */
  width: 45px; /* Width of the icon */
  height: 45px; /* Height of the icon */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001; /* Ensure the icon is above the tab */
  box-shadow: 0 0 15px 5px #96bdfbb4; /* Horizontal offset, Vertical offset, Blur radius, Spread radius, Color */
  bottom: 50px; /* Position when tab is not expanded */
}
.expanded-tab .event-icon {
  bottom: 190px; /* Adjust this value to move the icon with the expanded tab */
}

.book-meeting-button {
  display: none;
  background-color: #E85C0E;
  color: white;
  padding: 12px; /* Increased padding to match the tab size */
  border: none;
  transition: all 0.3s ease;
 border-radius: 8px;
  z-index: 1002; /* Ensure the icon is above the tab */
  margin-top:-20px;
  margin-bottom:20px;
  font-size: 20px;
}

.book-meeting-button-map {
  background-color: #E85C0E;
  color: white;
  padding: 12px; /* Increased padding to match the tab size */
  border: none;
  transition: all 0.3s ease;
 border-radius: 8px;
  z-index: 1002; /* Ensure the icon is above the tab */
  margin-top:-20px;
  margin-bottom: 120px;
  font-size: 20px;
  margin-right:20px;
}

.events-button {
  display: none;
  background-color: #96bdfbb4;
  color: white;
  padding: 12px; /* Increased padding to match the tab size */
  border: none;
  transition: all 0.3s ease;
 border-radius: 8px;
  z-index: 1002; /* Ensure the icon is above the tab */
  margin-top:-20px;
  margin-bottom:20px;
  font-size: 20px;
  margin-right: 10px; /* Add margin to the right of the button */
}

.success-stories-map {
  background-color: #96bdfb00;
  color: white;
  padding: 12px; /* Increased padding to match the tab size */
  border: 2px solid white; /* White outline added */
  transition: all 0.3s ease;
  border-radius: 8px; /* More rounded edges */
  z-index: 1002; /* Ensure the icon is above the tab */
  margin-top:-20px;
  margin-bottom:20px;
  font-size: 20px;
  margin-right: 10px; /* Add margin to the right of the button */
}
.success-stories-map:hover {
  color: #E85C0E; /* Change text color to orange on hover */
  border-color: #E85C0E; /* Change border color to orange on hover */
  cursor:pointer;
}

/* Expanded state styles for interactive tab */
.expanded-tab {
  margin-bottom: 30px; /* Adjusted for increased padding */

}

.expanded-button {
  display: block;
}


.events-page-button {
  display: none; /* Initially hidden, similar to the book-meeting-button */
  background-color: #4c8baf; /* Different color for distinction */
  color: white;
  padding: 20px; /* Consistent padding with the book-meeting-button */
  border: none;
  transition: all 0.3s ease;
  border-radius: 5px;
  z-index: 1002; /* Maintain high z-index */
  width: 100%; /* Ensure it fills the container */
}

/* Expanded state styles for interactive tab */
.expanded-events-page-button {
  display: block; /* Show the button in expanded state */
}





.stat-container {
  display: flex;
  background-color: rgba(0, 31, 77, 0.8); /* Dark blue background with alpha transparency */
  padding: 20px;
  justify-content: space-between;
  width: 55%;
  margin: auto; /* Centers the container */
  border-radius: 10px; /* Rounded edges, adjust radius as needed */
  margin-top:-200px;
  padding-top:40px;
  padding-bottom: 40px;
}

.stat-box {
  text-align: center;
  flex: 1; /* Flex value adjusted for equal spacing */
}

.stat-percentage {
  font-size: 48px; /* Large text for percentage */
  margin: 0;
  font-weight: bold;
  color: white; /* White text color for percentage */
}

.stat-text {
  font-size: 18px; /* Size of the description text */
  margin: 0;
  color: white; /* White text color for description */
}

.stat-highlight {
  color: #E85C0E; /* Orange text for the highlighted word */
}








/* Featured Jobs Section */
.featured-jobs-wrapper {
  background-color: #F6F8FF; 
  padding: 40px 0;
  text-align: center;
}

.featured-jobs-header {
  margin-bottom: 30px;
}

.featured-jobs-heading {
  font-size: 3em; 
  color: #333;
  text-align: left;
  margin-left: 130px;
}

.featured-jobs-description {
  margin: 10px 0 20px;
  color: #666;
  text-align: left;
  margin-left: 130px;
  font-size: 2em; 
}



.featured-jobs-view-all {
  color: #4c8baf;
  text-decoration: none;
  font-weight: bold;
  margin-top: -40px !important; /* Force override */
}

.featured-jobs-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  max-width: 1600px; /* Adjust based on your design */
}

.featured-job-card {
  width: calc(33% - 10px); /* Three cards per row */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative; /* For absolute positioning of bookmark and arrow */
}

.featured-job-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.featured-job-id {
  font-size: 0.9em;
  color: #666;
}

.featured-job-bookmark {
  font-size: 1.2em;
  color: orange; /* Replace with the color you use for icons */
  margin-top: -15px;
  margin-right: -8px;
}

.featured-job-title {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 5px;
  text-align: left;
  font-size: 22px;
}

.featured-job-location {
  font-size: 1.1em;
  color: #666;
  margin-bottom: 10px;
  text-align: left;
  margin-top: 15px;
}

.featured-job-type,
.featured-job-contract {
  font-size: 0.8em;
  color: #666;
  margin-bottom: 5px;
}

.featured-job-arrow {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.2em;
  color: #5e5e5e; /* Replace with the color you use for icons */
}

@media (max-width: 768px) {
  .featured-job-card {
    width: calc(50% - 20px); /* Two cards per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .featured-job-card {
    width: 100%; /* One card per row on very small screens */
  }
}







.testimonials-section {
  position: relative;
  width: 100%;
  background-image: url("./3D\ PRINT\ PHOTO\ 4-edit.png");
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  text-align: center;
}

.testimonials-container {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.testimonial {
  display: none; /* hide all by default */
  animation: flyIn 0.5s ease-in-out forwards; /* animation for flying in */
  margin-top: 80px;
}

/* Default show first testimonial */
#testimonial-1 {
  display: block;
}

.quote {
  font-style: italic;
  color: #fff;
  font-size: 1.5em;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
}

.author {
  color: #fff;
  font-size: 1em;
  margin-top: 10px;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(255, 255, 255);
  background-color: #33333300;
  border: 0;
  margin: 50px;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 500000000000000000000;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

/* Keyframes for the animation */
@keyframes flyIn {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}





.latest-blogs-section {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  background-color: #F6F8FF; 
}

.latest-blogs-heading {
  font-size: 25px; 
  color: #333;
  text-align: left;
  margin-left: 130px;
}

.latest-blogs-description {
  margin: 10px 0 20px;
  color: #666;
  text-align: left;
  margin-left: 130px;
  font-size: 2em; 
}

.latest-blogs-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.blog-cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 35px;
  padding-right: 35px;
}

.blog-card {
  width: calc(33% - 40px); /* Adjust the spacing based on your design */
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden; /* Clip the contents to the border radius */
  background: #fff;
  font-family: 'Fira Sans', sans-serif;
}

.blog-card img {
  width: 100%;
  height: auto;
  display: block; /* Remove any space below the image */
}

.blog-info {
  padding: 15px;
  font-family: 'Fira Sans', sans-serif;
  
  text-align: left;
}

.blog-date {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 5px;
  text-align: right;
  font-family: 'Fira Sans', sans-serif;
}

.blog-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: 'Fira Sans', sans-serif;
  text-align: left;
}

.blog-excerpt {
  font-size: 0.95rem;
  margin-bottom: 15px;
}

.blog-read-more {
  font-weight: bold;
  color: #4c8baf;
  text-decoration: none;
  transition: color 0.3s;
  font-family: 'Fira Sans', sans-serif;
}

.blog-read-more:hover {
  color: #333;
}




.salary-report-section {
  position: relative;
  width: 100%;
  background-image: url('./3D\ PRINT\ PHOTO\ 3.png');
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.salary-report-container {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 110%;
  max-width: 600px;
  height: 550px;
  position: relative;
  margin: -95px auto; /* Adjust this value to control the overlap */
  left: 16.66%; /* Two thirds from the left */

  z-index: 2;
  /* Rest of the styles remain the same */
}

.salary-report-heading {
  font-size: 42px;  
  color: #3d3d3d;
  font-weight: bold; /* Make text bold on hover */
  font-family: 'Fira Sans', sans-serif;

}


.salary-report-description {
  font-size: 25px;  
  color: #3d3d3d;
  font-family: 'Fira Sans', sans-serif;

}

.salaryreport-input{
  border-radius: 10px;
  font-size: 26px;
  margin-top: 10px;
  border-color: #ffffff00;
  margin-left: 50px;
}

.salaryreport-checkbox {
  font-size: 15px;  
  color: #3d3d3d;
  font-family: 'Fira Sans', sans-serif;
  margin-left: 50px;

}

.salaryreport-button {
  padding: 10px 20px; /* Padding inside the button */
  background-color: #E85C0E; /* Button background color */
  color: white; /* Button text color */
  border: none; /* No border for button */
  border-radius: 8px; /* Rounded corners for button */
  cursor: pointer; /* Cursor for button */
  flex-grow: 2; /* Button will grow twice as much as inputs */
  white-space: nowrap; /* Prevents text in the button from wrapping */
  width: 400px;
}









.final-call-to-action-section {
  position: relative;
  width: 100%;
  background-image: url('./final-call.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 0;
}



.cta-content h2 {
  color: #f7f7f7; /* Dark text color for visibility */
  margin-bottom: 20px;
}

.cta-content p {
  color: #e6e6e6; /* Lighter text color */
  margin-bottom: 40px;
}

.cta-buttons {
  /* Centering the buttons */
  display: flex;
  justify-content: center;
  gap: 20px; /* Spacing between buttons */
}

.cta-button {
  border: none;
  padding: 20px 40px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px; /* Rounded corners */
  width: 200px; /* Fixed width for both buttons */
}

.clients-button {
  background-color: #e7e7e7; /* Client button color */
  color: #333;
}

.candidates-button {
  background-color: #e7e7e7; /* Candidates button color */
  color: #333;
}

/* Hover effect */
.cta-button:hover {
  background-color: #E85C0E; /* Orange background on hover */
  color: white; /* White text on hover */
}







.footer-section {
  background-color: #F6F8FF;
  padding-top: 150px; /* Increase padding to make room for the overlapping element */
  
  display: flex;
  justify-content: center;
  position: relative;
}

.footer-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 40%;
  position: absolute; /* Position it absolutely relative to the footer-section */
  top: -80px; /* Adjust this value to control how much it overlaps */
  left: 24%; /* Start from the middle */
  transform: translateX(-50%); /* Adjust horizontally to truly center it */
  z-index: 10; /* Make sure it sits on top of other elements */
}

.footer-info {
  display: flex;
  justify-content: space-between;
  margin-top: 100px; /* Add margin to push the contact and sitemap sections down */

  position: absolute; /* Position the footer-info absolutely within the footer-section */
  right: 0; /* Align to the right side of the footer-section */
  top: -50px; /* Move up by 50px; adjust as necessary */
  width: calc(100% - 950px); /* Adjust the width as necessary; subtracting the left margin of .footer-container */
}
.contact-section,
.sitemap-section {
  width: 75%; /* Set width for contact and sitemap sections */
  padding: 20px;
}

.newsletter-section h2,
.contact-section h3,
.sitemap-section h3 {
  margin-bottom: 10px;
  width: 55%; /* Adjust the width as needed, or use flex-basis if using flex-grow */
}

.newsletter-section form input[type="text"],
.newsletter-section form input[type="email"],
.newsletter-section form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.newsletter-section form button {
  background-color: #E85C0E;
  color: white;
  border: none;
  cursor: pointer;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
}

.checkbox-container label {
  font-size: 0.9em;
}

.sitemap-section ul {
  list-style: none;
  padding: 0;
  
}

.sitemap-section ul li a {
  color: #000;
  text-decoration: none;
}

.contact-sitemap-container {
  display: flex; /* This will place contact and sitemap sections side by side */
  justify-content: space-between; /* This will put space between the two sections */
  width: 100%; /* Adjust width as needed */
  flex-direction: column; /* Stack the sections on top of each other on small screens */
  
}

@media (max-width: 768px) {
  .footer-section {
    flex-direction: column;
  }

  .footer-container {
    position: static;
    margin-bottom: 20px;
  }


}





.footer-bottom-bar {
  background-color: #002366; /* Change to the blue shade you want */
  color: white;
  text-align: center;
  padding: 10px 0; /* Adjust padding to your preference */
  font-size: 14px; /* Adjust font size to your preference */
  border-top: 1px solid #ffffff; /* Optional: adds a subtle separator */
  width: 100%;
}